// Colores principales

$color-primary: #ffc107;      // Amarillo
$color-bg-dark: #000000;      // Fondo negro principal
$color-card-bg: #121212;      // Fondo de tarjetas
$color-text-light: #ffffff;   // Texto blanco
$color-text-muted: #6c757d;   // Texto secundario gris

// Bordes y estructura

$border-color-dark: #2d2d2d;
$radius-custom: 8px;