@use "../utilities/variables" as *;

.custom-footer {
  background-color: $color-bg-dark;
  border-top: 1px solid $border-color-dark;

  .footer-link {
    color: $color-text-muted;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }
  }
}

