@use "../base/mixins" as base-mixins;
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.btn-custom {
  @include flex-center(row, center, center, 0.5rem);
  @include base-mixins.custom-button($color-primary, $color-bg-dark);
}

.btn-base {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn-primary {
  @extend .btn-base; 
  background-color: $color-btn-blue;
  color: #ffffff;
  

  &:hover {
    background-color: $color-btn-blue-hover;
  }
}

